.cars-table {
  width: 100%;
  border-collapse: collapse;
}

.cars-table th,
.cars-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cars-table th {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Style the Account Details button */
button.account-details-button {
  align-self: flex-end;
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* CarsList.css */

.red-row {
  background-color: #ffcccc; /* Adjust the red color as needed */
}



/* Flexbox for responsive table */
@media screen and (max-width: 700px) {
  .cars-table thead {
    display: none;
  }
  
  .cars-table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .cars-table td {
    display: block;
    text-align: left;
    padding: 6px;
  }

  .cars-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

  